doctype html
html
  head
    title Are You A Fucking Ninja?
    meta name="viewport" content="width=device-width"
    link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
    script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    script type="text/javascript" src="ninja.js"
  body
    .container
      #jumbotron-question.jumbotron
        h1 Are You A Fucking Ninja?
        p.lead Find out whether you are a fucking ninja by answering this one weird fucking question.
        p.lead Were you a fucking mercenary in feudal fucking Japan?
        p
          a#button-yes.btn.btn-lg.btn-success> href="#" Yes
          a#button-no.btn.btn-danger.btn-lg href="#" No
      #jumbotron-yes.jumbotron style="display: none"
        p.lead No, you fucking were not a fucking mercenary in feudal fucking Japan.
        h1 You Are Not A Fucking Ninja
      #jumbotron-no.jumbotron style="display: none"
        p.lead Quite right.
        h1 You Are Not A Fucking Ninja
